.DeliveryAddress {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px !important;
  font-weight: 200;

  p {
    margin-bottom: 5px;
    text-align: right;
  }

  .DeliveryAddress__title {
  }

  .DeliveryAddress__cont {
    margin-bottom: 5px;
  }

  .DeliveryAddress__desc {
  }
}