.AddDeliveryAddressForm {
  .form-group {
    font-style: 'Roboto' !important;
    font-size: 14px !important;
    font-weight: 400;
    color: #ffffff;

    .AddDeliveryAddressForm__textField {
      margin-left: 10px !important;
      margin-right: 10px !important;
      padding-left: 20px !important;
      padding-right: 10px !important;
      border-bottom: 1px solid #b5b5b5;
      box-sizing: border-box;
      overflow: hidden;
    }

    .form-control {
      border: none;
      background-color: #2b2a29;
      padding: 0;
      color: #ffffff;
      // letter-spacing: .5px;

      &:focus,
      &:active {
        // border-color: #cccccc;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }

    .formLabel {
      margin-top: 5px;
      color: #b5b5b5;
      margin-bottom: 0;
    }

    .fieldError {
      font-weight: 200;
      letter-spacing: 0.5px;
    }
  }

  .DAFunderButtonCont {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-top: 18%;
    height: 80px;
    width: 438px;

    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.56px;
    color: #ffffff;
    text-transform: uppercase;

    .DAFunderButton {
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
    }
  }

  @media screen and (max-width: 520px) {
    .DAFunderButtonCont {
      width: 100%;
    }
  }
}
