.Login {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */

  &__content {
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    background-color: #ffffff;
    margin: 7% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    max-width: 580px; /* Could be more or less, depending on screen size */
    min-height: 455px;
    z-index: -10;

    display: flex;
    justify-content: space-between;

    &__codeBlock {
      display: flex;
      align-items: center;
    }

    &__body {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &__form {
        max-width: 350px;
      }
    }

    &__close {
      order: 2;
      width: 0;
      position: relative;
      left: -40px;
    }
  }

  &__repeatCode {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #ff614b;
    margin-left: 20px;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
  &__form__group {
    margin: 25px 0;
  }
  &__error {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #ff614b;
  }
  &__timer {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #878787;
    margin-left: 10px;
  }
}
