.product-dialog {
  color: #b5b5b5;
  .swiper-slide {
    width: 95px !important;
  }
  height: 100%;

  .product-dialog__image {
    height: 33%;
    width: 100%;
    background-color: white;
    display: flex;
    border-bottom: 3px solid #5ead03;
    img {
      margin: auto;
      height: 100%;
    }
  }

  .product-dialog__details {
    color: white;
  }
  .product-dialog__name {
    text-transform: uppercase;
    font-family: 'Bebas Neue Thin';
    color: white;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    &:before {
      position: absolute;
      top: 1.1em;
      height: 0;
      width: 41px;
      content: '';
      border-top: 3px solid #ad0303;
    }
  }
  .product-dialog__weight {
    font-size: 20px;
  }

  .product-dialog__modifiers {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    border-top: 1px solid #4a4a4a;
  }
  .product-dialog__sizes {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    border-top: 1px solid #4a4a4a;
    padding-top: 10px;
    display: flex;
    &__text {
      margin-right: auto;
      font-size: 16px;
      text-transform: initial;
    }
  }
  .product-dialog__value {
    display: flex;
  }

  &__buttons {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;

    font-size: 16px;
    text-transform: uppercase;
    &__add {
      width: 50%;
      height: 12%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #5ead03;
      &:hover {
        opacity: 90%;
        cursor: pointer;
      }

      &.disabled {
        cursor: default;
        background-color: #707070;
      }
      &.disabled:hover {
        opacity: 100%;
        cursor: default;
      }
    }
    &__cancel {
      width: 50%;
      height: 12%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #707070;
      &:hover {
        opacity: 90%;
        cursor: pointer;
      }
    }
  }
  &__amount {
    text-align: center;
    display: flex;
    font-size: 16px;
    &__text {
      line-height: 35px;
      margin-right: 40px;
    }
  }
}

.wrapper {
  height: 46%;
  overflow-y: scroll;
}
