.payment-form {
  overflow-y: scroll;
  height: 65%;

  &__form {
    height: 10%;
    width: 80%;
    margin: 10px auto;
    display: grid;

    input {
      border: 1px solid #ccc;
      border-radius: 6px;
      box-shadow: none;
      display: block;
      font-size: 20px;
      outline: none;
      padding: 10px;
      transition: all 0.4s;
      width: 100%;
      margin: 10px auto;
      &:focus,
      :active,
      :hover {
        box-shadow: 0 0 3pt 2pt #5ead03;
      }
      &.error {
        box-shadow: 0 0 3pt 2pt#ad0303;
        color: #ad0303;
      }
    }
  }

  &__buttons {
    width: 438px;
    height: 100%;
    display: flex;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    position: fixed;
    top: 90%;
    &__pay {
      padding: 25px 0;
      width: 50%;
      background-color: #5ead03;
      &:hover {
        opacity: 90%;
        cursor: pointer;
      }

      &.disabled {
        cursor: default;
        background-color: #707070;
      }
      &.disabled:hover {
        opacity: 100%;
        cursor: default;
      }
    }
    &__cancel {
      padding: 25px 0;
      width: 50%;
      background-color: #707070;
      &:hover {
        opacity: 90%;
        cursor: pointer;
      }
    }
  }

  &__amount {
    color: #b5b5b5;
    // margin-left: 2rem;
    // margin-bottom: 1rem;
    margin: 10px auto;
    width: 60%;
    &__value {
      font-size: 20px;
      font-weight: 600;
      color: white;
    }
    &__currency {
      margin-left: 5px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600;
      color: #5ead03;
    }
  }
}

@media (max-width: 420px) {
  .payment-form {
    &__form {
      width: 90%;
    }
  }
}

@media (max-width: 521px) {
  .payment-form {
    &__buttons {
      width: 100%;
    }
  }
}
