.DeliveryByCourier {
  &__form {
    display: flex;
    flex-wrap: wrap;

    &__group {
      margin-top: 35px;
      flex-grow: 5;
    }

    &__street {
      width: 97%;
    }

    &__number {
      max-width: 80px;
    }

    &__row {
      flex-grow: 5;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
