.DeliveryByCourier {
  &__form {
    display: flex;
    flex-wrap: wrap;

    &__group {
      margin-top: 35px;
      flex-grow: 5;
    }

    &__street {
      width: 97%;
    }

    &__number {
      max-width: 80px;
    }

    &__row {
      flex-grow: 5;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__error {
      color: #ff614b;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}
