.HeaderUp {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #555555;
  height: 100px;


  .HeaderUp__menuItem {
    .HeaderUp__menuLogo {
      background-color: #000000;
      width: 141px;
      height: 63px;
      border-radius: 10px;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin-left: -10px;
      }
    }

    .HeaderUp__container {
      .HeaderUp__containerImg {
      }
      .HeaderUp__containerDescr {
        cursor: pointer;
        .HeaderUp__containerDescrPhone {
          text-align: right;
        }
        .HeaderUp__containerDescrTitle {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 12px;
          text-align: right;

          color: #303030;
        }
      }
    }
  }
}

a {
  color: #555555;
}

.HeaderUp__mobile {
  height: 54px;
}

#burgerButton {
  cursor: pointer;
}

.HeaderUp__toggleMenu {
  position: fixed;
  background-color: #262626;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: none;

  .HeaderUp__mobile {
    background-color: #ffffff;
  }

  .HeaderUp__toggleMenuCont {
    color: #ffffff;
    padding-top: 100px;

    a {
      color: #ffffff;
    }

    .HeaderUp__toggleMenuItem {
      border-bottom: 2px solid #ffffff;

      h1 {
        cursor: pointer;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
      }
    }

    .HeaderUp__toggleMenuItemTitle {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
    }

    .HeaderUp__toggleMenuItemPhone {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
    }

    .HeaderUp__toggleMenuItem2 {
      padding-bottom: 10px !important;
      border-bottom: 1px solid #ffffff;
    }

    .HeaderUp__toggleMenuItemTitle2 {
      margin-top: 40px;
      margin-bottom: 20px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
    }

    .HeaderUp__toggleMenuButton {
      width: 321px;
      height: 60px;
      background-color: #FFD749;
      border-radius: 15px 0px;
      color: #303030;

      .HeaderUp__toggleMenuButtonText {
        width: 261px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .HeaderUp__toggleMenuButtonIcon {
        width: 60px;
        background-color: #FFCF25;
        border-radius: 0px 0px 15px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
