.roundButton {
  text-align: center;
  width: 36px;
  height: 36px;  
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
    filter: brightness(0.8);
  }
  &:active {
    filter: brightness(0.5);
  }
}
