.roundButton {
  text-align: center;
  width: 36px;
  height: 36px;
  padding: 8.5px;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
    filter: brightness(0.8);
  }
  &:active {
    filter: brightness(0.5);
  }
}
