.bonus {
  margin-top: 20px;
  padding: 20px 0 0 0;
  border-top: 1px solid #4a4a4a;
  //   border-bottom: 1px solid #4a4a4a;

  &__value {
    font-size: 20px;
    font-weight: bold;
    margin: 0 5px 0 30px;
  }

  &__checkbox {
    padding: 10px 0;
    display: flex;
    &__img {
      width: 30px;
      height: 30px;
    }
    img {
      padding-right: 10px;
    }
    line-height: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}
