.LineProductWithSizeInput {
  .LineProductWithSizeInput__price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    padding: 5px;
    padding-right: 15px;

    color: #303030;

    span {
      font-size: 16px;
    }
  }

  .LineProductWithSizeInput__priceOld {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: line-through;
    padding: 5px;
    padding-right: 15px;

    color: #8e8e8e;
  }

  .LineProductWithSizeInput__size {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #8e8e8e;
    cursor: pointer;

    padding: 13px;
    padding-top: 6px;
    padding-bottom: 4px;

    border: 1px solid #8e8e8e;
    box-sizing: border-box;
    border-radius: 14px;
    margin-right: 10px;
    margin-bottom: 5px;

    &:hover {
      color: #000000;
      border-color: #000000;
    }
  }

  .LineProductWithSizeInput__action {
    .actionButton {
      display: flex;
      justify-content: space-between;
    }
  }

  #active {
    border: 2px solid #ffd74b;

    &:hover {
      color: #8e8e8e;
    }
  }

  @media screen and (max-width: 768px) {
    .LineProductWithSizeInput__action {
      .actionButton {
        width: 160px !important;
        background-color: #212529 !important;
      }
      .actionButton__text {
        font-size: 14px;
        display: block;
        font-weight: 400;
        color: #ffffff;
      }
      .actionButton__icon {
        width: 61px;
        height: 62px;
      }
    }
  }

  @media screen and (max-width: 360px) {
    .LineProductWithSizeInput__action {
      .actionButton {
        width: auto !important;
        background-color: #ffffff !important;
      }
      .actionButton__text {
        display: none !important;
      }
    }
  }
}
