.OrderTotalPrice {
  // border-top: 1px solid #e5e5e5;
  flex-grow: 1;
  display: flex;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  justify-content: space-between;
  padding: 50px 0;
}
