.ComboOrderBlockDescription {
  max-width: 780px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px !important;

  box-sizing: border-box;
  // padding: 20px !important;

  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  .ComboOrderBlockDescription__actionLine {
    height: 110px;
    overflow: hidden;

    .ComboOrderBlockDescription__actionLineName {
      font-weight: 700;
    }

    .ComboOrderBlockDescription__actionLinePrice {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #303030;

      span {
        font-size: 16px;
        margin-top: 6px;
        // margin-left: -6px;
      }
    }

    .ComboOrderBlockDescription__actionLineName {
      cursor: pointer;

      &:hover {
        color: #ffc107;
        // filter: brightness(0.7);
      }
    }

    .ComboOrderBlockDescription__actionLineImg {
      cursor: pointer;

      &:hover {
        filter: brightness(0.7);
      }

      img {
        height: 50px;
      }
    }

    .ComboOrderBlockDescription__actionLineButtons {
      .roundButton {
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }

  .ComboOrderBlockDescription__separate {
    height: 1px !important;
    background-color: #e5e5e5;
    margin-top: -10px;
    margin-left: 0;
  }

  @media screen and (max-width: 576px) {
    .ComboOrderBlockDescription__actionLine {
      height: 230px;
      .ComboOrderBlockDescription__actionLineImg {
        img {
          height: 100px;
        }
      }
    }
    .ComboOrderBlockDescription__separate {
      margin-top: 10px;
    }
    .ComboOrderBlockDescription__actionLineName {
      text-align: center;
    }
  }
}
