.ShortMenuItemMob {
  -webkit-box-shadow: inset -1px 0px 0px 0px #ffffff;
  -moz-box-shadow: inset -1px 0px 0px 0px #ffffff;
  box-shadow: inset -1px 0px 0px 0px #ffffff;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  border-radius: 20px 0;
  margin-bottom: 10px !important;

  &:hover {
    filter: brightness(0.8);
  }

  .ShortMenuItemMob__content {
    position: relative;
    z-index: 10;
    text-shadow: 2px 2px 2px #000000;
    min-height: 168px;
  }

  .ShortMenuItemMob__imgCont {
    overflow: hidden;
  }

  .ShortMenuItemMob__title {
    margin-top: 5px;
    h1 {
      text-transform: uppercase;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;
    }
  }

  .ShortMenuItemMob__desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #a9a9a9;
    margin-top: 10px;
  }

  .ShortMenuItemMob__suggestion {
    text-shadow: none;
    text-transform: uppercase;
    font-family: 'Roboto' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-variant: small-caps;

    span {
      color: #000000 !important;
      background-color: #ffd12d;
      border-radius: 10px 0px;
      padding: 5px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.showCat__mobile {
  .showCat__cont {
    position: absolute;
    margin-top: -60px;
    width: 100%;
    color: #ffffff;
    padding-left: 40px;

    text-shadow: 1px 1px 1px #000000;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    &:hover {
      color: #ffd12d;
    }

    div {
      display: inline;
      margin-right: 15px;

      img {
        margin-top: 3px;
      }
    }
  }
}
