.ProductModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20000;

  .ProductModal__body {
    background-color: #ffffff;
    max-height: 580px;
    border-radius: 40px 0px;
    z-index: -5;
  }

  .ProductModal__favoriteButton {
    padding-top: 10px;
    padding-left: 10px;
  }

  .ProductModal__stickerCont {
    padding-top: 10px;
    padding-right: 10px;
  }

  .ProductModal__firstLine {
    position: relative;
    z-index: 100;
  }

  .ProductModal__img {
    margin-top: -50px;
    div {
      img {
        height: 280px; // =========== Каринки
      }
    }
  }

  .ProductModal__closeButton {
    position: absolute;
    margin-left: -60px;
    margin-top: 10px;
    z-index: 110;
  }

  .BlockName__title {
    h1 {
      font-size: 28px;
      line-height: 34px;
    }
  }

  .BlockName__underLine {
    margin-top: -22px;
  }

  .ProductModal__info {
    margin-top: -15px !important;
    .ProductModal__title {
      max-height: 120px;
      overflow: hidden;
      padding: 40px;
      padding-top: 15px;
      padding-bottom: 10px;
    }

    .ProductModal__descr {
      max-height: 48px;
      padding-left: 40px;
      padding-right: 40px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;

      color: #8e8e8e;
    }
  }

  .ProductModal__recomendCont {
    padding-left: 40px !important;
    padding-right: 20px !important;
    .ProductModal__recomend {
      padding-right: 20px !important;
      height: 300px;
      overflow-y: scroll;
    }
  }

  .ProductModal__Content {
    padding-left: 40px;
    padding-right: 40px;
    // min-height: 100px;

    .LineProductWithSizeInput {
      // margin-top: -10px !important;
    }
  }

  .ProductModal__bodyCont {
    min-height: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }

  .actionButton {
    // padding-left: 10px;
    // width: 140px !important;
  }

  @media screen and (max-width: 992px) {
    .actionButton {
      width: 140px !important;
      width: auto !important;
      background-color: #ffffff !important;
    }

    .actionButton__text {
      font-size: 12px;
      font-weight: 300;
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .ProductModal__body {
      max-height: none;
      height: 93%;
      margin-top: 44px;
      width: 96%;
    }

    .ProductModal__closeButton {
      margin-top: -52px;
      margin-left: -40px;
    }

    .LineProductWithSizeInput__action {
      .actionButton {
        &:hover {
          background-color: #ffd12d !important;
        }
      }
    }

    .BlockName__title {
      h1 {
        font-size: 24px;
        line-height: 29px;
      }
    }

    .ProductModal__recomendCont {
      height: 200px;
    }

    .ProductModal__title,
    .ProductModal__descr,
    .ProductModal__Content,
    .ProductModal__recomendCont {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }

  @media screen and (max-width: 420px) {
    .ProductModal__info {
      .ProductModal__title {
        max-height: 80px;
        h1 {
          font-size: 20px;
          line-height: 22px;
        }
      }
  
      .ProductModal__descr {
        
      }
    }
  }

}
