.slide-dialog {
  position: fixed;
  top: 0;
  right: 0;
  right: 0;
  z-index: 100001;
  background: #2b2a29 0% 0% no-repeat padding-box;
  padding: 0;
  width: 438px;
  height: 100%;
  color: white;
  overflow-y: hidden;
}

.slide-dialog__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  overflow: auto;
}

@media (max-width: 520px) {
  .slide-dialog {
    width: 100%;
  }
}
