.HeaderDown {
  height: 100px;
  background: #303030;
  border-radius: 40px 0px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
  cursor: pointer;
}
