.HeaderDown {
  height: 100px;
  background: #303030;
  border-radius: 40px 0px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
  cursor: pointer;

  .HeaderDown__menuEl {
    color: #ffffff;
  }

  &__selectCity {
    margin: 10px 0;
    width: 360px;
  }
}

.HeaderDownMobile {
  height: 54px;
  background: #303030;

  .HeaderDown__menuEl {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
  }

  .swiper-slide {
    width: 100px !important;
    a {
      color: #ffffff;
    }
  }
}

.activatedLink {
  div {
    border-bottom: 5px solid #ffd74b;
  }
}
