.lineProductWithCart {
  border-bottom: #e5e5e5 1px solid;
  padding: 10px 0;
  // max-width: 580px;
  display: flex;
  &__product {
    // display: flex;

    &__cartIcon {
      padding-left: 15px;
    }

    width: 400px;
    // line-height: 60px;
    &__image {
      img {
        width: 60px;
      }
    }
    &__name {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      text-align: left;
      width: 60%;
      &:hover {
        cursor: pointer;
        color: #ffd12d;
      }
    }
    &__price {
      // display: flex;
      // flex-wrap: wrap;
      padding: 20px 10px;
      line-height: 60px;
    }

    &__newPrice {
      line-height: 16px;
    }
    &__oldPrice {
      margin-left: 5px !important;
      line-height: 16px;
      color: #8e8e8e;
      text-decoration: line-through;
    }
  }

  @media screen and (max-width: 576px) {
    &__product {
      &__newPrice {
        font-size: 14px;
      }
      &__oldPrice {
        font-size: 14px;
      }
      &__name {
        font-size: 14px;
      }
      &__cartIcon {
        padding-left: 0px;
      }
    }
  }
}
