.actionButton {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  &__text {
    text-align: center !important;
    margin: auto;
  }
  &__icon {
    position: relative;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd12d;
    width: 60px;
    height: 60px;
    border-bottom-right-radius: 20px;
  }

  &:hover {
    background-color: #ffd12d !important;
    cursor: pointer;
    color: #000000 !important;
  }
  &:active {
    background-color: #f6c000 !important;
  }
}

@media (max-width: 620px) {
  .actionButton.mobile {
    width: 60px !important;
    background-color: white !important;
    .actionButton__text {
      display: none;
    }
    .actionButton__icon {
      border-top-left-radius: 20px;
    }
  }
}
