.SliderContainer {
  // box-sizing: border-box !important;
  overflow: hidden !important;

  margin-top: 50px !important;
  margin-bottom: 20px !important;

  .sliderBanner__img {
    padding-left: 10px !important;
  }
}