.SliderContainer {
  // box-sizing: border-box !important;
  overflow: hidden !important;

  margin-top: 50px !important;
  margin-bottom: 20px !important;

  .sliderBanner__img {
    padding-left: 20px !important;

    img {
      height:388px;
    }
  }

  @media screen and (max-width: 1200px) {
    .sliderBanner__img {  
      img {
        height:325px;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .sliderBanner__img {  
      img {
        height:245px;
      }
    }
  }
}