.CategorySlider {
  .Slider__pagination {
    position: relative;
    z-index: 1000;
    margin-right: 20px;
  }

  .swiper-pagination-bullet {
    background-color: #ffffff !important;
    border: 2px solid #ffd12d;
    box-sizing: border-box;
    margin-right: 5px;
    width: 14px !important;
    height: 14px;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {

    background-color: #ffd12d !important;
  }
}
