.LineProductWithNumberInput {
  border-bottom: #e5e5e5 1px solid;
  padding: 10px 0;
  max-width: 780px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__product {
    // display: flex;

    width: 400px;
    line-height: 60px;
    &__image {
      img {
        width: 60px;
      }
    }
    &__name {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
    }
    &__price {
      // display: flex;
      // flex-wrap: wrap;
      padding: 20px 10px;
      line-height: 60px;
    }

    &__newPrice {
      line-height: 16px;
    }
    &__oldPrice {
      margin-left: 5px !important;
      line-height: 16px;
      color: #8e8e8e;
      text-decoration: line-through;
    }
  }
}
