.LineProductWithNumberInput {
  border-bottom: #e5e5e5 1px solid;
  padding: 20px 0;
  max-width: 780px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  &__delete {
    order: 2;
    margin-left: 30px;
  }

  &__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 400px;
    line-height: 60px;
    order: -1;
    flex-grow: 1;
    margin-right: 30px;
    &__image {
      display: flex;
      img {
        width: 60px;
      }
    }
    &__name {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
      flex-grow: 5;
      text-align: center;
      line-height: 16px;
      &:hover {
        cursor: pointer;
        color: #ffd12d;
      }
    }
    &__price {
      // display: flex;
      // flex-wrap: wrap;
      padding: 20px 10px;
      line-height: 60px;
    }

    &__newPrice {
      line-height: 16px;
    }
    &__oldPrice {
      margin-left: 5px !important;
      line-height: 16px;
      color: #8e8e8e;
      text-decoration: line-through;
    }
  }
}

@media (max-width: 767px) {
  .LineProductWithNumberInput {
    &__product {
      margin: 0;
    }
    &__delete {
      order: 0;
      margin: 0;
    }
  }
}
