.ByDateEntryPageCont {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.ByDateEntryPage {
  font-family: 'Roboto';
  font-size: 14px;
  letter-spacing: 0.56px;
  background-color: #585858;
  color: #b5b5b5;

  .ByDateEntryPage__calendar {
    font-style: 'Roboto';
    font-size: 14px;
    letter-spacing: 0.56px;
    color: #b5b5b5;
    background-color: #585858;
    border: none;
    padding-top: 10px;
    // padding-bottom: 20px;

    .react-calendar__navigation {
      background-color: #585858;
      margin-bottom: 0;
      height: 35px;

      .react-calendar__navigation__label {
        background-color: #585858;
        color: #ffffff;

        .react-calendar__navigation__label__labelText {
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.56px;
          text-transform: capitalize;
        }
      }

      .react-calendar__navigation__arrow {
        background-color: #585858;
        color: #b5b5b5;
      }
    }

    .react-calendar__viewContainer {
      padding-left: 20px;
      padding-right: 20px;

      .react-calendar__month-view {
        background-color: #4d4d4d;
      }

      .react-calendar__month-view__weekdays {
        background-color: #585858;
      }

      .react-calendar__month-view__weekdays__weekday {
        abbr {
          text-decoration: none;
          cursor: default;
          font-family: 'Roboto';
          font-weight: 400;
        }
      }
    }
  }

  .react-calendar__tile {
    background-color: #4d4d4d;

    &:hover {
      background-color: #5ead03 !important;
    }

    &:disabled {
      background-color: #4d4d4d;
      color: #7a7a7a;

      &:hover {
        background-color: #4d4d4d !important;
      }
    }
  }

  .react-calendar__tile--active {
    background-color: #5ead03 !important;
  }

  .ByDateEntryPage__tile {
    color: #ffffff;
    background-color: #4d4d4d;
  }

  .dateTimeStrings {
    background-color: #585858;
    padding-bottom: 25px !important;

    .dateTimeStrings__div {
      font-family: 'Roboto';
      font-size: 15px;
      color: #FFFFFF;
      font-weight: 400;
      border-bottom: 1px solid #b5b5b5;
    }
    
  }

  .errorTimePicker {
    // color: #ffc107;
    color: #ef5350;
    font-weight: 200;
    letter-spacing: 0.5px;
    line-height: 18px;
    margin-top: -20px !important;
    padding-bottom: 10px !important;
    text-align: center;
  }

  .timeInput {
    width:50px;
    background-color: #585858;
    color:white;
    text-align: center;
  }
}
