.CartRoundButton {
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;

  align-items: center;

  &__itemCount {
    position: absolute;
    top: -4px;
    left: 25px;

    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15px;
    height: 15px;
    background-color: #ffd12d;
    border-radius: 50%;
    font-family: 'Roboto';
    font-size: 13px;
  }

  &:hover {
    cursor: pointer;
    background-color: #f6c000 !important;
    color: white;
  }

  &:hover + .CartRoundButton__itemCount {
    cursor: pointer;
    background-color: #cccccc !important;
  }

  &:active {
    filter: brightness(0.8);
  }
}
