/*Обнуление*/
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Bebas Neue Thin';
  src: url('./fonts/bebas_neue_thin.eot');
  src: url('./fonts/bebas_neue_thin.eot?#iefix') format('embedded-opentype'),
    url('./fonts/bebas_neue_thin.woff2') format('woff2'), url('./fonts/bebas_neue_thin.woff') format('woff'),
    url('./fonts/bebas_neue_thin.ttf') format('truetype'),
    url('./fonts/bebas_neue_thin.svg#bebas_neue_thin') format('svg');
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Thin'), local('BebasNeue-Thin'), url('./fonts/bebasneuethin.woff2') format('woff2'),
    url('./fonts/bebasneuethin.woff') format('woff'), url('./fonts/bebasneuethin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Light'), local('BebasNeue-Light'), url('./fonts/bebasneuelight.woff2') format('woff2'),
    url('./fonts/bebasneuelight.woff') format('woff'), url('./fonts/bebasneuelight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Book'), local('BebasNeueBook'), url('./fonts/bebasneuebook.woff2') format('woff2'),
    url('./fonts/bebasneuebook.woff') format('woff'), url('./fonts/bebasneuebook.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('./fonts/bebasneueregular.woff2') format('woff2'),
    url('./fonts/bebasneueregular.woff') format('woff'), url('./fonts/bebasneueregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('./fonts/bebasneuebold.woff2') format('woff2'),
    url('./fonts/bebasneuebold.woff') format('woff'), url('./fonts/bebasneuebold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 28px;
  height: 100%;
}

#root {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1 1 auto;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
