.numberInput {
  display: flex;
  height: 60px;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
  justify-content: space-between;
  order: 1;

  &__input {
    display: flex;
  }

  &__label {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    margin-right: 20px;

    text-align: left;
  }
  &__label.hidden {
    display: none;
  }

  &__dec {
    background-color: #ffcf25;
    width: 60px;
    border-top-left-radius: 20px;
    font-size: 36px;
    &:hover {
      cursor: pointer;
      background-color: #ffc800;
    }
    &:active {
      background-color: #daab00;
    }
  }
  &__number {
    color: white;
    width: 60px;
    background-color: #303030;
    font-size: 20px;
  }
  &__inc {
    background-color: #ffcf25;
    width: 60px;
    border-bottom-right-radius: 20px;
    font-size: 36px;
    &:hover {
      cursor: pointer;
      background-color: #ffc800;
    }
    &:active {
      background-color: #daab00;
    }
  }
}

.numberInput.fullWidth {
  flex-grow: 5;
}

@media (max-width: 767px) {
  .numberInput {
    flex-grow: 5;
    &__label.hidden {
      display: block;
      line-height: 60px;
    }
  }
}

@media (max-width: 438px) {
  .numberInput {
    &__label {
      line-height: 30px;
    }
  }
}
